/*googlefonts import*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap");

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* wildcard to override browser defaults margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content*/
main {
    /*ensure main takes up all available space push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 1.3rem;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#cover-text > h2,
#cover-text > h3 {
    color: #ffffff;
}
/* reasons to run section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    font-size: 2.8rem;
    text-align: center;
}

.benefits-box {
    line-height: 20px;
    margin-bottom: 20px;
}

.benefits-box > hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

.benefits-box > p {
    padding: 0 20px;
}

#circle-cover-bg {
    width: 90vw;
    height: 90vw;
    background: url(../images/reasons-image.webp) no-repeat top center/cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    color: #3a3a3a;
    font-size: 1.6rem;
    padding: 5%;
}

#times {
    background: url(../images/dublin-city.webp) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    /*make text readable against background image*/
    background-color: rgba(0, 0, 0, 0.6);
    color: #fafafa;
    padding: 15px;
    text-align: center;
    /*stops divs wrapping on screens less than 400px
    Div will expand to fill row*/
    flex-basis: 200px;
    flex-grow: 1;
    /*add border between divs*/
    border: 2px solid #fafafa;
}

#times h3 {
    /*make headings stand out against dark background*/
    color: #fafafa;
}

/* media queries for tablet */
@media screen and (min-width: 768px) {
    nav {
        position: relative;
        box-shadow: none;
        display: block !important;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 2.8rem;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*push main content down to accommodate larger header*/
    main {
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* reasons to run section */
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefits-physical > div,
    #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }
}
/* media queries for larger tablets and small desktops */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* media queries for desktop */
@media screen and (min-width: 1200px) {
    /*flex styles for reason, wrap text around image */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits-physical {
        order: 0;
    }

    #benefits-mental {
        order: 2;
    }

    #benefits-physical > div {
        align-self: flex-start;
    }

    #benefits-mental > div {
        align-self: flex-end;
    }
}
