/* styles.css */
/* wildcard to override browser defaults margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-color: antiquewhite;
}
/*body and main content*/
main {
    background-color: rgb(76, 194, 194);
}
footer {
    background-color: rgb(155, 14, 92);
}
